@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply flex flex-col min-h-screen bg-gradient-to-r to-amber-300 from-purple-900 text-slate-50;
  }
  .container {
    @apply max-w-3xl mx-auto px-4;
  }
  .page-nav {
    @apply flex place-content-center gap-4 py-4;
  }
  .page-main {
    @apply flex-1;
  }
  .page-footer {
    @apply py-4 text-center;
  }
  .button-submit {
    @apply flex items-center gap-2 px-6 py-3 rounded-sm transition-all bg-teal-800 text-stone-100 hover:bg-teal-700;
  }
}

/* 
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(248 250 252 / var(--tw-text-opacity));
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

*/
